﻿@model IEnumerable<appWeb.Models.restaurante>
@Scripts.Render("~/bundles/jquery")

@{
    ViewBag.Title = "Index";
}

<h2>Restaurantes</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div>
    @using (Html.BeginForm())
    {
        <p>Digite o nome</p>
        <input type="text" name="texto" id="texto" placeholder="Digite a pesquisa" />
        <div><button type="submit">Filtrar</button></div>
    }
</div>

<table id="myTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.restauranteNome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.restauranteNome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.restauranteID }) |
                @Html.ActionLink("Details", "Details", new { id = item.restauranteID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.restauranteID })
            </td>
        </tr>
    }


</table>


