﻿@model appWeb.Models.prato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>prato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pratoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pratoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restaurante.restauranteNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restaurante.restauranteNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pratoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
