﻿@model IEnumerable<appWeb.Models.prato>

@{
    ViewBag.Title = "Index";
}
<h2>Pratos</h2>
<div>
    @using (Html.BeginForm())
    {
        <p>Digite o nome</p>
        <input type="text" name="texto" id="texto" placeholder="Digite a pesquisa" />
        <div><button type="submit">Filtrar</button></div>
    }
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="minhaTabela" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pratoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restaurante.restauranteNome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pratoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restaurante.restauranteNome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.pratoID }) |
                @Html.ActionLink("Details", "Details", new { id = item.pratoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.pratoID })
            </td>
        </tr>
    }

</table>

